.game-intro {
    position: relative;
    text-align: center;
    color: #000000;
    font-size: 30px;
    width: 100%;
    background-color: aqua;
}

#startBtn:hover {
    background-color: rgb(60, 255, 53);
}

#restartBtn:hover {
    background-color: rgb(255, 154, 53);
}

.divButtons {
    background-color: blueviolet;
    height: 50px;
    width: 50px;
    /*position: absolute;
    top: 0;*/
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
}

#sound {
    height: 50px;
    width: 130px;
    font-size: 35px;
    background-color: blue;
    color: rgb(225, 225, 255);
    box-shadow: 4px 4px black;
    margin-bottom: 30px;
    border-radius: 10px;
    transition: all 1s ease-in-out;
}

#mute {
    position: relative;
    z-index: 10;
    height: 50px;
    width: 130px;
    font-size: 28px;
    border-radius: 20px;
    background-color: blue;
    color: rgb(225, 225, 255);
    box-shadow: 4px 4px black;
    margin-bottom: 30px;
    border-radius: 10px;
    transition: all 1s ease-in-out;
}

.headcontainer {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    display: flex;
    justify-content: space-between;
    padding: 60px 90px;
}

.headline-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 20px;
    background-color: rgb(255, 255, 255);
}

.headline1 {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    color: rgb(255, 255, 255);
    font-size: 180px;
    margin-bottom: 10px;
    margin-top: 0px;
    background-color: rgb(210, 210, 30);
}

.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
}

.top-left {
    position: absolute;
    top: 8px;
    left: 16px;
}

.top-right {
    position: absolute;
    top: 8px;
    right: 16px;
}

.bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}